.header {
  background-color: #FB651E;
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1); */
}

.header-nav {
  margin: 0 auto;
  padding: 1.5rem 4rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  display: flex;
  font-size: 1.2rem;
}

.header-links {
  display: flex;
  gap: 1rem;
}

.header-link {
  transition: color 0.2s;
}

.header-link:hover {
  color: rgb(37 99 235);
} 

.github-link {
  color: aliceblue;
  transition: opacity 0.2s ease;
  display: flex;
  align-items: center;
}

.github-link:hover {
  opacity: 0.8;
}

.github-link svg {
  width: 20px;
  height: 20px;
}

@media (min-width: 640px) {
  .github-link svg {
    width: 24px;
    height: 24px;
  }
}

@media (min-width: 1024px) {
  .github-link svg {
    width: 34px;
    height: 34px;
  }
}

@media (max-width: 639px) {
  .header-nav {
    padding: 1rem 1.5rem;
  }
  
  .header-title {
    font-size: 1.25rem;
  }
}

/* Add rule to set Avenir font for header title text */
.header-title-text {
  font-family: 'Avenir', sans-serif;
}