.hero-section {
  height: calc(100vh - var(--header-height));
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: #FB651E;
  color: white;
  position: relative;
  overflow: hidden;
  padding: 0rem 0 2rem 4rem;
  margin-top: 0;
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
  max-width: 800px;
  position: relative;
  z-index: 2;
  line-height: 1.2;
  margin-bottom: 2rem;
  font-family: 'Avenir', sans-serif;
}

.hero-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  max-width: 600px;
  position: relative;
  z-index: 2;
  opacity: 0.9;
  font-family: 'Avenir', sans-serif;
}

.hero-image-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  align-items: center;
}

.hero-image {
  /* position: absolute; */
  width: 80%;
  object-fit: contain;
  opacity: 0.8;
  z-index: 1;
}

@media (max-width: 767px) {
  .hero-section {
    padding: 5rem 0 0 0;
    align-items: flex-start;
    flex-direction: column;
  }

  .hero-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .hero-subtitle {
    font-size: 1.125rem;
  }

  .hero-image-container {
    align-items: flex-start;
    margin-top: 2rem;
    height: auto;
  }

  .hero-image {
    opacity: 0.6;
    width: 100%;
    max-height: 50vh;
  }
} 
