@charset "UTF-8";

/* Import all other stylesheets first */
@import './base/variables.css';
@import './base/common.css';
@import './components/components.css';
@import './components/header.css';
@import './components/hero.css';
@import './components/slider.css';
@import './components/chart.css';
@import './layouts/partner-graph.css';
@import './layouts/map.css';
@import './layouts/stack-area.css';

/* Add rule to remove 8px default margin from the body and ensure full height */
body {
  margin: 0;
  height: 100%;
}

/* Ensure full height for html */
html {
  height: 100%;
}