:root {
  /* Brand Colors */
  --color-primary: #FB651E;
  --color-primary-light: #FFE2D4;
  --color-primary-dark: #DC510F;
  
  /* UI Colors */
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-text: #000000;
  
  /* Chart Colors */
  --chart-colors: #F5CFBD, #EC9065, #E99C77, #FC844B, #F67537, #FBAF8B, #FFE2D4, #FF5B0E, #DC510F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
    --color-text: #ffffff;
  }
} 